Image{
    height: 40px;
}

.portJumbo {
    color: cyan;
    text-align:center;
    border: solid 2px white;
    padding: 5px;
    background-color: black;
    background: linear-gradient(-45deg, #3d0000,rgb(0, 0, 0),black, #3d0000) ;
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.listGroup{
  text-decoration-color: white !important;
}

.textLink{
  color: blue;
}



