.jumbo{
    background: black;
    color:white;
    text-align:center;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
    padding: 5px;
    background-color: black;

} 


.fontawesome{
    font-size: 50px;
    
}

.social :hover{
transform: scale(1.5);
transition: .2s ease-in;
align-items: center;

}

.social{
    padding: 10px;
}




