.navbar {
   background-color: black;
  
}
h5 {
    color: white;
}

.navbar-brand, .nav-link{
    font-family: cursive;
    text-decoration-line: underline;
    color: cyan !important;
    

    justify-content: center!important;
  
}
