.navbar {
   background-color: black;
   
}
h5 {
    color: white;
}

.nav-link{
    font-size: large;
    background: black;
    font-family: cursive;
    text-decoration-line: underline;
    color: cyan!important;
}

.divNav{
    background: black;
    text-align: center;
    color: cyan!important;

    
}

.navList{
    cursor: pointer;
    list-style: none;
    
}

