.AboutJumbo {
  font-family: Georgia, 'Times New Roman', Times, serif;
    color: cyan;
    text-align:center;
    border-bottom: solid 2px white;
    padding: 5px;
    background-color: black;
    background: linear-gradient(-45deg, #490101,rgb(0, 0, 0),black, #490101) ;
      background-size: 400% 400%;
      animation: gradient 12s ease infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    .skills{  
      align-items: center!important;
      align-items: inherit;
    }

    #AboutMe{
      font-size: 48px;
    }